//
// _vertical.scss
//

// Logo
.logo-box {
     position: sticky;
     overflow: hidden;
     text-align: center;
     white-space: nowrap;
     line-height: $topbar-height;
     background-color: $topbar-bg;
     padding: 0 calc($main-nav-width-sm * 0.5 - $logo-sm-height * 0.5);

     .logo-sm {
          display: none;
          height: $logo-sm-height;
     }

     .logo-lg {
          margin-left: 6px;
          height: $logo-lg-height;
     }

     .logo-light {
          display: none;
     }

     .logo-dark {
          display: block;
     }
}


.wrapper {
     width: 100%;
     height: 100%;
     position: relative;

     // Main Nav
     .main-nav {
          top: 0;
          bottom: 0;
          z-index: 1005;
          margin-left: 0;
          position: fixed;
          margin-top: $topbar-height;
          width: $main-nav-width;
          font-family: $font-family-secondary;
          background: $main-nav-bg;
          min-width: $main-nav-width;
          box-shadow: $box-shadow;
          border-right: $card-border-width solid $main-nav-border-color;

          .logo-box {
               display: none;
          }

          &::before {
               content: "";
               position: absolute;
               top: 0;
               bottom: 0;
               left: 58px;
               width: 2px;
               background-color: $main-menu-item-hover-bg;
          }

          .menu-arrow {
               &::after {
                    right: calc($main-menu-item-padding-x * 1.5);
                    display: flex;
                    content: "\ea4a";
                    font-family: boxicons;
                    margin-left: auto;
                    position: absolute;
                    transition: transform 0.2s;
                    color: $main-menu-item-color;
                    font-size: calc($main-menu-item-font-size * 1.25);
                    opacity: 0.6;
               }

               &[aria-expanded="true"] {
                    &::after {
                         transform: rotate(-180deg);
                         color: $main-menu-item-hover-color;
                    }

                    &::before {
                         opacity: 1;
                         color: $main-menu-item-hover-color;
                    }
               }
          }

          .menu-title {
               cursor: default;
               font-size: 11px;
               letter-spacing: 0.05em;
               text-transform: uppercase;
               color: $main-menu-item-color;
               font-weight: $font-weight-bold;
               padding: $main-menu-item-padding-y calc($main-menu-item-padding-x * 1.25);
               padding-left: 72px;
               opacity: 0.75;
          }

          .navbar-nav {
               padding-top: $spacer;

               .menu-item {
                    padding: calc($main-menu-item-padding-y * 0.1) 0;

                    .menu-link {
                         display: flex;
                         gap: 12px;
                         line-height: 1;
                         font-weight: $font-weight-semibold;
                         align-items: center;
                         white-space: nowrap;
                         border-radius: 6px;
                         // transition: all 0.3s ease-in-out;
                         color: $main-menu-item-color;
                         font-size: $main-menu-item-font-size;
                         // padding: $main-menu-item-padding-y $main-menu-item-padding-x;
                         // margin: $main-menu-item-margin-y 0;
                         text-transform: uppercase;

                         .nav-icon {
                              display: flex;
                              align-items: center;
                              justify-content: center;
                              font-size: $main-menu-item-icon-size;
                              height: 40px;
                              width: 40px;
                              margin: 0 10px;
                              border-radius: 5px;
                              font-weight: normal;
                         }

                         .badge {
                              margin-left: auto;
                              margin-right: 10px;
                         }

                         &:hover {
                              .nav-icon {
                                   background-color: $main-menu-item-hover-bg;
                              }

                              .nav-text {
                                   color: $main-menu-item-hover-color;
                              }
                         }

                         &.active {
                              .nav-icon {
                                   background-color: $primary !important;
                                   color: $white;
                              }
     
                              .nav-text {
                                   font-weight: $font-weight-bold;
                              }
                         }

                    }

                    &.active {
                         .nav-icon {
                              background-color: $primary !important;
                              color: $white;
                         }

                         .nav-text {
                              font-weight: $font-weight-bold;
                         }
                    }
               }

               .sub-menu-nav {
                    flex-direction: column;
                    padding-left: 42px;
                    list-style: none;

                    .menu-arrow {
                         &::after {
                              right: 0;
                         }
                    }

                    .sub-menu-item {
                         padding: calc($main-menu-item-padding-y * 0.5) $main-menu-item-padding-x;

                         .sub-menu-link {
                              display: flex;
                              align-items: center;
                              position: relative;
                              white-space: nowrap;
                              transition: all 0.3s ease-in-out;
                              color: $main-menu-item-color;
                              font-size: calc($main-menu-item-font-size * 0.95);
                              font-weight: $font-weight-semibold;
                              text-transform: uppercase;
                              padding: calc($main-menu-item-padding-y * 0.25) $main-menu-item-padding-x;

                              .badge {
                                   margin-left: auto;
                              }

                              &.active,
                              &:active,
                              &:hover,
                              &:focus {
                                   color: $main-menu-item-hover-color;

                                   &::before {
                                        background-color: $main-menu-item-hover-color;
                                        opacity: 1;
                                   }
                              }

                              &:hover {
                                   transform: translateX(5px);
                              }
                         }
                    }

                    .sub-menu-nav {
                         padding-left: calc($main-nav-width-sm - $main-menu-item-padding-x * 5.25);
                    }
               }
          }
     }

     // Main Content
     .page-container {
          min-height: calc(100vh - $topbar-height);
          display: flex;
          flex-direction: column;
          position: relative;
          margin-left: $main-nav-width;
          transition: all 0.3s ease-in-out;
     }

     .page-content {
          flex-grow: 1;
          padding: 40px 16px;
          padding-bottom: 0;
          @extend .container;
     }
}

// Sidebar sm hover Toggle Menu Button
.button-sm-hover {
     border: 0;
     z-index: 1;
     text-align: end;
     border-radius: 50%;
     transition: all 0.2s ease-in-out;
     color: $main-menu-item-color;
     padding: 0;

     .button-sm-hover-icon {
          width: 35px;
          height: 35px;
          display: flex;
          font-size: 22px;
          border-radius: 50%;
          align-items: center;
          justify-content: center;
     }
}

// Small Hover
html[data-menu-size="sm-hover"] {

     .page-container {
          margin-left: $main-nav-width-sm;
          position: relative;
     }

     .main-nav:not(:hover) {
          width: $main-nav-width-sm;
          min-width: $main-nav-width-sm;

          &::before {
               content: none;
          }

          .logo-box {
               .logo-lg {
                    display: none;
               }
          }

          .menu-item {

               .menu-link {
                    justify-content: center;

                    .nav-text,
                    .badge {
                         display: none;
                    }

                    &.menu-arrow {
                         &::after {
                              display: none;
                         }
                    }
               }

               .collapse,
               .collapsing {
                    display: none;
               }
          }

          .menu-title {
               height: 0;
               opacity: 0;
               padding: 0;
          }

          .simplebar-track.simplebar-vertical {
               visibility: hidden !important;
          }
     }

     .main-nav {
          width: $main-nav-width;
          min-width: $main-nav-width;

          .logo-box {
               text-align: left;
          }

          .simplebar-track.simplebar-horizontal {
               visibility: hidden !important;
          }
     }
}

// Small Hover Active
html[data-menu-size="sm-hover-active"] {
     .topbar {
          padding-left: $main-nav-width;
     }

     // .navbar-header {
     //      padding-left: $main-nav-width;
     // }

     .main-nav {
          .logo-box {
               text-align: left;
          }
     }
}


// Sidenav Dark and Brand
html[data-bs-theme="dark"],
html[data-menu-color="dark"],
html[data-menu-color="brand"] {
     .main-nav {
          .logo-box {
               .logo-light {
                    display: block;
               }

               .logo-dark {
                    display: none;
               }
          }
     }
}

// SideNav Hidden (Mobile View)
html[data-menu-size="hidden"] {
     .main-nav {
          margin-left: calc($main-nav-width * -1);
          margin-top: 0;
          transition: all 0.3s ease-in-out;
          padding-bottom: $topbar-height;

          .logo-box {
               display: block;
          }
     }

     .page-container {
          margin-left: 0;
     }

     &.sidebar-enable {
          .main-nav {
               margin-left: 0;
               z-index: 1055;
          }
     }

     .topbar {
          padding-left: 0;

          .logo-box {
               display: none;
          }
     }
}

@media (max-width: 1475px) {
     .topbar {
          .logo-box {
               .logo-sm {
                    display: inline-block;

               }

               .logo-lg {
                    display: none;
               }
          }
     }
}