//
// card.scss
//

.card {
    margin-bottom: $spacer;

    .card-header {
        border-bottom: 1px dashed var(--#{$prefix}border-color);
    }
}

.card-link+.card-link {
    margin-left: $card-spacer-x;
    margin-right: 0;
}

.card-full-height {
    height: calc(100% - #{$spacer});
}

.card-title {
    font-size: 13px;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.sub-header {
    font-size: $font-size-base;
    margin-bottom: $spacer;
    color: $text-muted;
}